<!DOCTYPE html>

<html>
  <head>
    <title>Timestamp Microservice</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>

  <body class="flex">
    <header class="titles">
      <h1>Timestamp Microservice API</h1>
      <p>
        This is an API that convert a given calendar date to it's timestamp.
      </p>
      <hr />
    </header>
    <div class="container flex">
      <h2>Example Usage</h2>
      <h3>Get the current date</h3>
      <p class="text">To get the data for the current date:</p>
      <code>[your_url]/api</code>
      <h3>Get other dates</h3>
      <p class="text">
        To get the data for a specific date, a date format (YYYY-MM-DD) is
        needed, such as:
      </p>
      <code>[your_url]/api/1992-01-13</code>
      <p class="text">Or a valid unix timestamp, such as:</p>
      <code>[your_url]/api/695309700000</code>
      <h2>Example Output</h2>
      <code>{ 
    unix: 695309700000, 
    utc: "Mon, 13 Jan 1992 13:35:00 GMT" 
}</code>
    </div>
    <div class="footer">
      <p>
        Created by
        <a href="https://github.com/odakris?tab=repositories" target="_blank"
          >odakris</a
        >
      </p>
    </div>
  </body>
</html>
